# Data and models
duckdb==1.5.6
lightgbm==4.7.0
matplotlib==3.11.2
mlflow==3.16.1
numpy==2.4.6
pandas==2.3.3
pyarrow==25.0.1
pyspark==4.2.0
scikit-learn==1.9.1

# Development
pre-commit==4.6.2
pytest==9.1.1
ruff==0.16.9
